{% trans_default_domain 'FOSUserBundle' %}


<body>
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
    </a>
{% else %}


<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin text-center">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
<h1>Olimpiada Michoacana de Matemáticas</h1>
    <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Usuario" autocomplete="username" required autofocus/>

    <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" class="form-control" required="required" autocomplete="current-password" placeholder="Password"/>

    {% if error %}
        <div class="text-danger">
            <p class="text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        </div>
    {% endif %}
{#    <div class="checkbox mb-3">#}
{#        <label>#}
{#            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}
{#            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
{#        </label>#}
{#    </div>#}

    <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Iniciar sesión" />
    <p class="mt-3"><a href="{{ path('fos_user_resetting_request') }}">¿Olvidó la contraseña?</a></p>

</form>
{% endif %}



</body>


